<%- include('header') %>
<div class="row mb-5">
  <div class="col">
    <form action="/submit" method="post">
      <input type="text" name="myname" />
      <br />
      <br />
      <input type="submit" />
    </form>
  </div>
</div>
<div class="row">
  <div class="col mb-5">
    <img src="/Images/Dashboard.png" width="500" alt="Picture of Dasboard" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col bg-success-subtle mb-3"><%= message%></div>
</div>
<%- include('footer') %>
