<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the User Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta quibusdam voluptas hic blanditiis nihil deserunt! Possimus enim molestias esse repellendus, vero neque labore rerum! Repellat vitae id ipsam facere.
    </p>
</body>
</html>